@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  margin: 0;
  padding: 0;
}


a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  text-transform: uppercase;
}

a:hover {
  opacity: 0.7;
}

.nav-list a:hover{
  font-size: 18px;
}

header img {
  width: 55px;
  height: 55px;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.video{
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #000;
  margin-bottom: 0px;
  /* height: 8vh; */
}

main {
  margin-top: 0%;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}
.nav-list img {
  width: 20px;
  height: 20px;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/*Título Principal*/
.titulo-principal {
  font-family: 'Permanent Marker', cursive;
  background-color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

h1 {
  text-align: center;
  font-size: 100px;
  font-weight: 600;
  margin-bottom: 0%;
}
@media (max-width: 999px){
  h1 {font-size: 50px;}
}

/*Footer*/
footer {margin-top: 300px;  display: flex; flex-direction: column; background-color: #000000; padding: 50px 0px; align-items: center;}
footer ul {display: flex; margin-bottom: 25px;}
footer ul li {margin-right: 10px;}
footer ul li:last-child {margin-right: 0px;}
footer ul li a {color: #ffffff; font-size: 2rem;}
footer p { color: #ffffff; text-align: center; font-weight: 400;}