body {
    background-color: #dddae2;
}

header a {
    text-decoration: none;
}


.titulo {
    margin: 15px 0 15px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 52px;
    text-shadow: 1px 1px 0.09em rgb(54, 53, 53);
}

.fotos .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.fotos .grid li {
    height: 300px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.fotos .grid li.small {
    flex-basis: 40%;
    list-style: none;
}

.fotos .grid li.large {
    flex-basis: 60%;
    list-style: none;
}

@media (max-width: 700px) {
    .fotos .grid li.large {
        flex-basis: 100%;
    }

    .fotos .grid li.small {
        flex-basis: 100%;
    }
}

.midias a:hover{
    color: rgb(147, 155, 155);
    /* font-size: 33px; */
    padding: 15px;
}

footer ul{
    list-style: none;
}

footer p {
    font-size: 22px;
}