.titulo-principal{
  font-size: 50px;
}

/*Informações sobre o pc*/
.informações-pc h2 {
  display: inline-block;
  vertical-align: text-top;
  margin-left: 900;
  align-items: center;
  margin-left: 250px;
  font-size: 40px;
  font-weight: bold;
}


.informações-pc ul {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: #888888;
  list-style: none;
  float: right;
  margin-top: 15px;
  margin-right: 200px;
  float: right;
}

.informações-pc ul li {
  padding-bottom: 5px;
}

.informações-pc ul li img {
  float: left;
  float: left;
  size: 50px;
  color: #888888;
  width: 50px;
  height: 50px;
  margin-right: 150px;
}

.informações-pc hr {
  background-color: #000000;
  height: 2px;
  width: 350px;
  float: right;
  margin-right: 190px;
  margin-top: 15px;
}
@media (max-width: 999px) {
  .informações-pc h2 {
    float: none;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  .informações-pc ul {
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }
  .informações-pc ul li img {
    width: 30px;
    height: 30px;
  }
  .informações-pc hr {
    width: 150px;
    margin-left: 150px;
  }
}


/*slider*/
.img-slider{
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 600px;
    height: 900px;
    margin: 10px;
    display: inline-block;
    flex-direction: column-reverse;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info {
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 230px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(0, 0, 0, 0.5);
  width: 12px;
  height: 12px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #000000;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}



@media (max-width: 999px) {
  .img-slider {
    margin-left: 75px;
    float: none;
    width: 350px;
    height: 470px;
  }

  .img-slider .slide .info {
    padding: 5px 10px;
  }

  .img-slider .slide .info h2 {
    font-size: 25px;
  }

  .img-slider .slide .info p {
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation {
    bottom: 5px;
  }
}

/*Botão adicionar ao carrinho*/
.comprar {
  width: 300px;
  height: 70px;
  border-radius: 1000px;
  background: linear-gradient(to bottom, rgb(97, 21, 21), rgb(148, 26, 26));
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  float: right;
  margin-top: 50px;
  margin-right: 250px;
  font-weight: bold;
  border: #444444;
  pointer-events: painted;
}
.comprar img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.informações-pc a:hover{
  font-size: 19px;
  height: 75px;
  padding: 10px;
  transition: 0.2s ease;
  font-style: normal;
  pointer-events: stroke;
}
@media (max-width: 999px) {
  .comprar {
    margin-right: 96px;
  }
}

/*iformações das peças*/
.pc section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -300px;
  float: left;
}
}

.pc section:nth-child(1){
  color: #fff;
}

.pc section:nth-child(2){
  color: #fff;
  background: #fff;
}

.pc section:nth-child(3){
  color: #fff;
}

.pc section:nth-child(4){
  color: #fff;
  background: #fff;
}

.pc section .container{
  margin: 100px;
}

.pc section h1{
  font-size: 60px;
}

.pc section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.pc section .cards{
  display: flex;
}

section .cards .text-card{
  background: #3d3d3d;
  margin: 20px;
  padding: 20px;
}

.pc section .cards .text-card h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 999px){
  .pc section {
    margin-top: 50px;
  }
  .pc section h1{
    font-size: 40px;
    margin-top: 150px;
  }

  .pc section .cards{
    flex-direction: column;
    margin-top: 150px;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}


/*Footer*/
footer {
  margin-top: 1500px;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  padding: 50px 0px;
  align-items: center;
  width: 100%;
}

footer ul {
  display: flex;
  margin-bottom: 25px;
  list-style: none;
}

footer ul li {
  margin-right: 10px;
}

footer ul li:last-child {
  margin-right: 0px;
}

footer ul li a {
  color: #ffffff;
  font-size: 2rem;
}

footer p {
  color: #ffffff;
  text-align: center;
  font-size: 22px;
}

.midias a:hover{
  padding: 15px;
}

@media (max-width: 999px) {
  footer {
    margin-top: 1850px;
  }
}