.titulo-principal{
  font-size: 50px;
}

/*Informações sobre o pc*/
.informações-pc h2 {
  display: inline-block;
  vertical-align: text-top;
  margin-left: 900;
  align-items: center;
  margin-left: 250px;
  font-size: 40px;
  font-weight: bold;
}


.informações-pc ul {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: #888888;
  list-style: none;
  float: right;
  margin-top: 15px;
  margin-right: 200px;
  float: right;
}

.informações-pc ul li {
  padding-bottom: 5px;
}

.informações-pc ul li img {
  float: left;
  float: left;
  size: 50px;
  color: #888888;
  width: 50px;
  height: 50px;
  margin-right: 150px;
}
@media (max-width: 999px) {
  .informações-pc h2 {
    display: flex;
  }
}

/*slider*/
.img-slider{
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 600px;
    height: 900px;
    margin: 10px;
    display: inline-block;
    flex-direction: column-reverse;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info {
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 230px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(0, 0, 0, 0.5);
  width: 12px;
  height: 12px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #000000;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px) {
  .img-slider {
    display: flex;
    width: 600px;
    height: 375px;
    align-items: center;
    justify-content: center;
  }

  .img-slider .slide .info {
    padding: 10px 25px;
  }

  .img-slider .slide .info h2 {
    font-size: 35px;
  }

  .img-slider .slide .info p {
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px) {
  .img-slider {
    width: 250px;
    height: 400px;
  }

  .img-slider .slide .info {
    padding: 10px 20px;
  }

  .img-slider .slide .info h2 {
    font-size: 30px;
  }

  .img-slider .slide .info p {
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 999px) {
  .img-slider {
    width: 250px;
    height: 370px;
  }

  .img-slider .slide .info {
    padding: 5px 10px;
  }

  .img-slider .slide .info h2 {
    font-size: 25px;
  }

  .img-slider .slide .info p {
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }
}

/*Botão adicionar ao carrinho*/
.comprar {
  width: 300px;
  height: 70px;
  border-radius: 1000px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0));
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  float: right;
  margin-top: 50px;
  margin-right: 300px;
  font-weight: bold;
  border: #444444;
}
.comprar img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.comprar:hover{
  font-size: 19px;
  height: 75px;
  padding: 10px;
  transition: 0.2s ease;
}


/*Footer*/
footer {
  margin-top: 1200px;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  padding: 50px 0px;
  align-items: center;
  width: 100%;
}

footer ul {
  display: flex;
  margin-bottom: 25px;
  list-style: none;
}

footer ul li {
  margin-right: 10px;
}

footer ul li:last-child {
  margin-right: 0px;
}

footer ul li a {
  color: #ffffff;
  font-size: 2rem;
}

footer p {
  color: #ffffff;
  text-align: center;
  font-size: 22px;
}

.midias a:hover{
  padding: 15px;
}

@media (max-width: 999px) {
  footer {
    margin-top: 800px;
  }
}